* {
	padding: 0;
	margin: 0;
	font-family: Arial;
	box-sizing: border-box;;
}

.container1 {
	background: #1F2937;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 50px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.logo {
	color: #F9FAF8;
	margin: 16px;
	font-size: 21px;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 16px;
	gap: 16px;
	
}

li {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #E5E7EB;
	font-size: 15px;
}

/* after header */

.twoparter {
	flex-wrap: wrap;
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 15px
}

.bunchbutton {
	
	width: 300px;
	display: flex;
	flex-direction:column;
}

h1 {
	color: white;
	font-size: 45px;
}

.t1 {
	color: #E5E7EB;
	margin-bottom: 10px;
	font-size: 15px;
}

.signup {
	padding: 5px 20px;
	background-color: #3882F6;
	color: white;
	border-radius: 5px;
	border: none;
	font-weight: 900;
	font-size: 18px;
	max-width: 120px;
}

.pic {
	display: flex;
}

/*second section*/

.container2 {
	color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
	
}

h2 {
	text-align: center;
	color: #1F2937;
	font-size: 30px;
	margin: 40px 0px;
}

.gallery {
	flex-wrap: wrap;
	display: flex;
	gap: 50px;
	justify-content: center;
}

.gitems {
	display: flex;
	flex-direction: column;
	width: 100px;
	justify-content: center;
	align-items: center
}

.box {
	padding: 60px;
	border: 3px solid #3882F6;
	border-radius: 15px;;
	margin-bottom: 10px;
}

.boxtext {
	color: black;
	text-align: center;
}

/*third sdction*/

.container3 {
	background: #E5E7EB;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textholder {
	padding: 40px 20px;
	margin: 0px 90px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.maintext {
	color: #1F2937;
	font-style: italic;
	font-size: 26px;
	font-weight: 100;
}

.lowtext {
	align-self: flex-end;
	font-weight: 800;
}

/*fourth sdction*/

.container4 {
	padding: 40px 20px;
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bluebox {
	border-radius: 8px;
	padding: 20px;
	background: #3882F6;
	display: flex;
	width: 630px;
}

.contentholder {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 30px;
}

.words {
	display: flex;
	flex-direction: column;
}

.bigtext {
	color: #F9FAF8;
	font-weight: 800px;
}

.smalltext {
	color: white;
}

.press {
	margin-right: 30px;
	background-color: #3882F6;
	border: 2px solid white;
	border-radius: 8px;
	color: white;
	padding: 0px 30px;
	max-height: 40px;
}

/*footer*/

.footer {
	width: 100%;
	height: 100px;
	color: white;
	display: flex;
	background: #1F2937;
	justify-content: center;
	align-items: center
}